<footer class="py-64 bg-neutral-100">
  <div class="container">
    <div class="d-flex align-center pb-24 border-bottom mb-32">
      <a href="index.html" class="me-a">
        <img src="../assets/images/logo.svg" alt="logo" />
      </a>
      <ul class="d-flex">
        <li class="me-40">
          <a href="product-list.html" class="py-12">商品列表</a>
        </li>
        <li><a href="brand-story.html" class="py-12">品牌故事</a></li>
      </ul>
    </div>
    <p class="text-sm text-center mb-4">Copyright ©2025 URBNSTYLE</p>
    <p class="text-sm text-center">All Rights Reserved.</p>
  </div>
</footer>
