<nav>
  <div class="logo">
    <img src="../assets/images/logo.svg" alt="logo" />
  </div>
  <ul>
    <li><a href="product-list.html">產品列表</a></li>
    <li><a href="brand-story.html">品牌故事</a></li>
  </ul>
</nav>
