<nav class="py-16 py-md-12">
  <div class="container d-flex align-center justify-between">
    <div class="d-flex">
      <div class="logo me-48">
        <a href="index.html">
          <img src="../assets/images/logo.svg" alt="logo" />
        </a>
      </div>
      <ul class="d-flex d-md-none">
        <li class="me-40">
          <a href="product-list.html" class="py-12">產品列表</a>
        </li>
        <li><a href="brand-story.html" class="py-12">品牌故事</a></li>
      </ul>
    </div>
    <a class="icon-wrapper"><i class="bi bi-person icon"></i></a>
  </div>
</nav>
