<nav>
  <ul class="d-flex list-unstyled align-items-center">
    <li>
      <a href="index.html"
        ><img src="../assets/images/logo.svg" alt="logo"
      /></a>
    </li>
    <li><a href="product-list">產品列表</a></li>
    <li><a href="brand-story">品牌故事</a></li>
  </ul>
  <a href="#"></a>
</nav>
