.breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  padding: 0 12px;
  color: $neutral-300;
  font-weight: 700;
  display: inline-block;
}

.breadcrumb-item {
  display: flex;
  color: $neutral-900;
  font-weight: 500;
}

.breadcrumb-link {
  color: $neutral-600;

  &:hover {
    color: $neutral-900;
  }
}

@include respond-to(md) {
  .breadcrumb-item + .breadcrumb-item::before {
    padding: 0 8px;
  }
  .breadcrumb-item {
    font-size: 14px;
  }
}
