.product-list-category {
  li {
    padding: 4px 0;

    &.active {
      pointer-events: none;

      a {
        color: $primary-400;
      }
    }

    &:hover {
      a {
        color: $neutral-600;
      }
    }
  }
}

.page-item {
  user-select: none;

  .btn {
    min-width: 40px;
    height: 40px;
    padding: 0 10px;
    border-radius: 0;
    font-weight: 400;

    &:hover {
      background-color: $neutral-100;
    }

    &.active {
      background-color: $primary-300;
      font-weight: 500;
      pointer-events: none;
    }
    &.disabled {
      pointer-events: none;
    }
  }
}
