.check-icon-wrapper {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: $primary-300;
  color: $primary-500;
  margin-right: 16px;

  @media (max-width: 767px) {
    width: 32px;
    height: 32px;
    margin-right: 8px;

    .bi-check {
      font-size: 20px;
      width: 20px;
      height: 20px;
    }
  }
}

.store-hours {
  background-color: $primary-100;
  color: $primary-400;
}

.favorites-product-img {
  width: 120px;
  height: 120px;
}

.en-text {
  margin-left: 12px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  color: $neutral-900;
}

.price {
  font-family: 'Montserrat', sans-serif;
}

.order-btn {
  width: fit-content;
  margin: 0 auto;
}