<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <%- include('./layout/head'); -%>
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div>
      <img src="../assets/images/banners/banner.png" alt="banner" />
      <h1 class="display1">URBNSTEP</h1>
      <p class="h3">Your Step, Your Statement</p>
    </div>
    <main>
      <section class="py-64">
        <div class="container">
          <h3 class="h2 mb-16">熱銷補貨</h3>
          <div class="row">
            <div class="col-3">
              <div class="product">
                <span class="product-text">人氣 No.1</span>
                <img
                  src="../assets/images/products/product-3.png"
                  alt="product-3"
                />
              </div>
            </div>
            <div class="col-3">
              <div class="product">
                <span class="product-text">人氣 No.1</span>
                <img
                  src="../assets/images/products/product-3.png"
                  alt="product-3"
                />
              </div>
            </div>
            <div class="col-3">
              <div class="product">
                <span class="product-text">人氣 No.1</span>
                <img
                  src="../assets/images/products/product-3.png"
                  alt="product-3"
                />
              </div>
            </div>
            <div class="col-3">
              <div class="product">
                <span class="product-text">人氣 No.1</span>
                <img
                  src="../assets/images/products/product-3.png"
                  alt="product-3"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
