<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <img src="" alt="" />
    <h1 class="index-title">URBNSTEP</h1>
    <img src="../assets/images/dog.jpg" style="width: 300px" alt="cat" />
    <button type="button" class="btn btn-primary">test</button>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
