<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <section>
      <div>
        <h1>URBNSTEP</h1>
        <p>Your Step, Your Statement</p>
        <button type="button" class="btn btn-primary">立即選購</button>
      </div>
      <div>
        <img src="../assets/images/banners/banner.png" alt="" />
      </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
