<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <%- include('./layout/head'); -%>
    <title>立即登入</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main class="container py-64">
      <div class="row flex-md-column">
        <div class="col-5 col-md-4">
          <div class="login-img-wrap">
            <picture class="login-img">
              <source
                media="(max-width: 767px)"
                srcset="/assets/images/login/login-sm.png"
              />
              <img src="/assets/images/login/login.png" alt="Login Banner" />
            </picture>
          </div>
        </div>
        <div class="col-7 col-md-4">
          <div class="py-120 px-80 px-lg-40 auth-card">
            <h1 class="h3 mb-32 mb-md-24 text-center">歡迎！</h1>
            <div class="tabs d-flex w-100 mb-32">
              <button class="tab w-50 h6 active">登入</button>
              <button class="tab w-50 h6">註冊</button>
            </div>
            <button type="button" class="btn social-login-btn mb-8">
              <img
                src="/assets/images/icons/facebook.svg"
                alt="facebook-logo"
              />Facebook 登入
            </button>
            <button type="button" class="btn social-login-btn mb-8">
              <img src="/assets/images/icons/apple.svg" alt="apple-logo" />Apple
              登入
            </button>
            <button type="button" class="btn social-login-btn">
              <img src="/assets/images/icons/google.svg" alt="google" />Google
              登入
            </button>
          </div>
        </div>
      </div>
    </main>

    <%- include('./layout/footer', { hideBanner: true }); %>

    <script type="module" src="../main.js"></script>
  </body>
</html>
