<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <%- include('./layout/head.ejs') -%>
    <title>立即註冊</title>
  </head>
  <body>
    <%- include('./layout/header.ejs') -%>
    <main class="container py-64 py-md-0">
      <div class="row flex-md-column">
        <!-- 圖片-->
        <div class="col-5 col-md-4">
          <div class="login-img-wrap">
            <picture class="login-img">
              <source
                media="(max-width: 767px)"
                srcset="/assets/images/login/login-sm.png"
              />
              <img src="/assets/images/login/login.png" alt="Login Banner" />
            </picture>
          </div>
        </div>
        <!-- 卡片 -->
        <div class="col-7 col-md-4">
          <%- include('./layout/auth-card.ejs', { mode: 'register' }) %>
        </div>
      </div>
    </main>
    <%- include('./layout/footer.ejs', { hideBanner: true }) %>
    <script type="module" src="../main.js"></script>
  </body>
</html>
